@{
    ViewBag.Title = "Заправочная станция";
}
<body onload="initializeSupplierCharts()">
    <div class="panel">
        <div class="panel-heading label-success" style="color:white; ">
            <h2>@ViewBag.Title</h2>
            <hr />
            <h3>@ViewBag.Message</h3>
            <blockquote>
                <p>Заправочная станция выполняет такие действия:</p>
                <ul>
                    <li>Обнаруживает появление автомобиля</li>
                    <li>Идентифицирует автомобиль</li>
                    <li>Делает запрос в энергорынок на наиболее выгодное в данный момент предложение</li>
                    <li>Проверяет сертификаты поставщика электроэнергии и владельца автомобиля</li>
                    <li>Подтверждает заключение договора</li>
                    <li>Управляет процессом передачи электроэнергии</li>
                    <li>Подтверждает факт исполнения договора</li>
                </ul>
            </blockquote>
        </div>
        <div class="panel-body">
            <div class="row">
                <h4><span class="label label-success">Мониторинг процесса зарядки:</span></h4>
                <nav class="navbar text-center">
                    <div class="col-lg-1"></div>
                    <div class="checkbox-inline col-lg-3">
                        <p>Ток, <em>А</em></p>
                        <input type="text" class="dial" value="120" data-min="0" data-max="400" data-step="1" data-fgColor="#FF6666" data-width="100" data-height="100" data-angleOffset="-125" data-angleArc="250" data-rotation="clockwise" />
                    </div>
                    <div class="checkbox-inline col-lg-3">
                        <p>Напряжение, <em>В</em></p>
                        <input type="text" class="dial" value="24" data-min="0" data-max="50" data-step=".1" data-fgColor="#6666FF" data-width="100" data-height="100" data-angleOffset="-125" data-angleArc="250" data-rotation="clockwise" />
                    </div>
                    <div class="checkbox-inline col-lg-3">
                        <p>Мощность, <em>кВт*ч</em></p>
                        <input type="text" class="dial" value="2.88" data-min="0" data-max="20" data-step=".01" data-fgColor="#FF9933" data-width="100" data-height="100" data-angleOffset="-125" data-angleArc="250" data-rotation="clockwise" />
                    </div>
                </nav>
                <div id="chargingSupplierLine">
                    <canvas id="chargingSupplierLineCanvas" height="80"></canvas>
                </div>
            </div>
            <div class="row">
                <h4><span class="label label-success">Консоль событий зарядки:</span></h4>
                <dl class="dl-horizontal label-info" style="color:white; ">
                    <dt>источник</dt>
                    <dd>сообщение</dd>
                </dl>
                <dl id="customersAutoStream" class="dl-horizontal" style="max-height: 200px; overflow-y:scroll;">
                    <dt>Автомобиль</dt><dd></dd>
                    <dt>Энергорынок</dt><dd></dd>
                    <dt>Удостоверение</dt><dd></dd>
                    <dt>Смарт-Контракты</dt><dd></dd>
                </dl>
            </div>
        </div>
    </div>
</body>
